<mat-toolbar>
    <div fxLayout="row" class="logo-content">
        <img src="../assets/images/logo.png" alt="program">
        <div>
            <span class="employee">EMPLOYEE</span><br>
            <span class="payroll">PAYROLL</span>
        </div>
    </div>
</mat-toolbar>

<div fxLayout='row' fxLayoutAlign="space-around center" style="color: black;
margin-top: 1%;">
    <div style="font-weight: 800;
  font-size: 200%;">Employee Details</div>
    <div>

        <button class="register" mat-raised-button color="primary" routerLink='/create-employee'>Add Employee</button>
    </div>
</div>

<div class="panel panel-default">
    <div class="tableWrapper">
        <div class="containerTitle">
            <div class="oneTitle">Pic</div> 
            <div class="oneTitle">Id</div>
            <div class="oneTitle">Name</div>
            <div class="oneTitle">Salary</div>
            <div class="oneTitle">Department</div>
            <div class="oneTitle">Gender</div>
            <div class="oneTitle">Start Date</div>
            <div class="oneTitle">Actions</div>
        </div>

        <div class="containerListItems" fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let employee of employees;" [style.background-color]="changeColorOne()">
            <div class="one"><img alt="" src="{{employee.profilePic}}"></div>
            <div class="one">{{employee.id}}</div>
            <div class="two">{{employee.name}}</div>
            <div class="two">{{employee.salary}}</div>
            <div class="two">{{employee.department}}</div>
            <div class="two ">{{employee.gender}}</div>
            <div class="two">{{employee.startDate}}</div>

            <div class="three" fxLayout="row">
                <div [routerLink]="['/create', employee.id]"><img alt="edit" src="../assets/icons/create-black-18dp.svg"></div>
                <div (click)="deleteEmployee(employee.id)"><img alt="delete"src="../assets/icons/delete-black-18dp.svg"></div>
            </div>
        </div>
    </div>
</div>